* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #c9c9c9;
    background-color: #222222;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
    color: #bfa75d;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px; 
}

.navbar {
    background: #606060;
    color: #fff;
    height: 80px;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 3rem;
    font-weight: bolder;
    color: #bfa75d;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #bfa75d;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    margin: 20px;
}

.box .container {
    display: flex;
}

.box {
    flex: 1;
    background: gray;
    border-radius:  10px;
    margin: 10px;
    padding: 10px;
}

@media (max-width: 800px) {
    header .container {
        display: block;
    }
}